/Build/
/Configuration/*
!/Configuration/Routes.yaml
/Data/
/Packages/Application/*
/Packages/Framework/*
/Packages/Libraries/*
!/Packages/Application
!/Packages/Application/Helmich.Products
!/Packages/Application/Helmich.ProductsApiSimple
!/Packages/Application/Helmich.ProductsApiAdvanced
/Web/
/bin/
/composer.lock
/flow
/flow.bat
/.idea/workspace.xml
