/Build/
/Configuration/
/Data/
/Packages/Application/*
/Packages/Framework/*
/Packages/Libraries/*
!/Packages/Application
!/Packages/Application/Helmich.Products
/Web/
/bin/
/composer.lock
/flow
/flow.bat
/.idea/workspace.xml
